@import "tailwindcss";
@custom-variant hover (&:hover);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.notebook {
  line-height: 2rem;
  background-color: transparent;
  background-image: linear-gradient(
    transparent calc(2rem - 1px),
    #4a4a6a calc(2rem - 1px)
  );
  background-size: 100% 2rem;
  background-attachment: local;
  background-position: top left;
  background-position-y: 0rem;
}

.gesture-button-horizontal {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  --h: 20px;
  --w: 200px;
  --border: 3px;

  width: var(--w);
  height: var(--h);

  background: #4a4a6a;

  -webkit-clip-path: polygon(
    0% 100%,
    100% 100%,
    calc(100% - var(--h)) 0%,
    var(--h) 0%
  );
  clip-path: polygon(0% 100%, 100% 100%, calc(100% - var(--h)) 0%, var(--h) 0%);
  z-index: 1;
}
.gesture-button-horizontal::before {
  content: "";
  position: absolute;
  z-index: 0;

  /* expand outward */
  inset: calc(var(--border) * 1);

  background: #171717;

  -webkit-clip-path: polygon(
    0% 100%,
    100% 100%,
    calc(100% - var(--h)) 0%,
    var(--h) 0%
  );

  clip-path: polygon(0% 100%, 100% 100%, calc(100% - var(--h)) 0%, var(--h) 0%);
}
.gesture-button-vertical {
  line-height: 2rem;
  background-image: linear-gradient(
    transparent calc(2rem - 1px),
    #4a4a6a calc(2rem - 1px)
  );
  background-size: 100% 2rem;
  background-attachment: local;
  padding: 0.5rem;
  background-position-y: 2.2rem;
}

.button-three-lines {
  line-height: 3px;
  background-image: linear-gradient(
    transparent calc(3rem - 1px),
    #838383 calc(3rem - 1px)
  );
  background-size: 100% 3px;
  background-attachment: local;
  padding: 3px;
  background-position-y: 0px;
}
